$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.additional {
  background-color: #fff;

  &__wrap {
    clear: both;
    width: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    @media (min-width: $desktop-width) {
      grid-template-columns: 896px 245px;
      column-gap: 79px;
    }
  }

  &__title {
    padding-top: 25px;
    margin-bottom: 36px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    clear: both;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 14px;
    padding: 13px 0 20px;
    margin: 0;

    grid-template-areas:
      "add-title"
      "add-characters"
      "add-button";

    @media (min-width: $tablet-width) {
      padding: 26px 38px 28px;
      row-gap: 25px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "add-title add-characters"
        "add-button add-button";
    }
    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "add-title add-characters add-button";
      padding: 13px 0px 15px;
    }

    .add__title {
      margin: 0;
      grid-area: add-title;
      align-self: center;
      text-align: left;
      padding: 0;
      line-height: 100%;

      @media (min-width: $tablet-width) {
        font-size: 20px;
      }
    }

    .add__characters {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      grid-area: add-characters;
      align-items: center;
      line-height: 125%;

      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        text-align: right;
        align-self: center;
      }

      @media (min-width: $desktop-width) {
        text-align: left;
      }

      &::before {
        display: none;
      }
    }

    .add__components,
    .add__description {
      font-size: 14px;
      line-height: 14px;

      @media (min-width: $tablet-width) {
        line-height: 125%;
        font-size: 16px;
      }
    }

    .add__button {
      border: none;
      grid-area: add-button;
      padding-top: 7px;
      padding-bottom: 7px;

      @media (min-width: $desktop-width) {
        margin-left: 38px;
        align-self: center;
      }
    }
  }
}

.banner {
  margin: 0 auto;
  position: relative;
  background-color: $basic-green;
  background-image: url(/img/catalog/mobile/Group\ 1.webp);
  background-repeat: no-repeat;
  width: 280px;
  height: auto;
  align-self: start;

  margin-top: 35px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url(/img/catalog/mobile/Group\ 1@2x.webp);
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url(/img/catalog/Group\ 2.webp);
    margin-top: 69px;
    width: 707px;
    height: auto;

    @media (min-resolution: 2dppx) {
      background-image: url(/img/catalog/Group\ 2@2x.webp);
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 245px;
    height: 289px;
    background-image: url(/img/catalog/Group\ 3.jpg);
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url(/img/catalog/Group\ 3@2x.jpg);
      background-size: 245px 289px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(/img/icon/icon_gift.svg);
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      top: 57px;
      left: 77px;
      transform: none;
    }
  }
}

.banner__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;

  margin: 186px 59px 43px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    text-align: left;
    margin: 70px 124px 70px 422px;
  }
}
