$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.additional {
  background-color: #fff;

  &__wrap {
    // @media (min-width: $desktop-width) {
    //   grid-template-columns: repeat(2, auto);
    //   column-gap: 78px;
    // }
  }

  &__title {
    padding-top: 25px;
    margin-bottom: 36px;
    border-top: solid 1px #d9d9d9;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    clear: both;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 14px;
    padding: 13px 0 20px;
    margin: 0;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

    grid-template-areas:
      "add-title"
      "add-characters"
      "add-button";

    @media (min-width: $tablet-width) {
      padding: 26px 38px 28px;
      row-gap: 25px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "add-title add-characters"
        "add-button add-button";
    }
    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "add-title add-characters add-button";
    }

    .add__title {
      margin: 0;
      grid-area: add-title;
      align-self: center;
      text-align: left;
    }

    .add__characters {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      grid-area: add-characters;
      align-items: center;

      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        text-align: right;
      }

      &::before {
        display: none;
      }
    }

    .add__button {
      border: none;
      grid-area: add-button;
    }
  }
}
