$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.main__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.catalog {
  &__title {
    padding-top: 27px;
    padding-bottom: 41px;

    @media (min-width: $tablet-width) {
      padding-top: 64px;
      padding-bottom: 82px;
      border: none;
    }
    @media (min-width: $desktop-width) {
      padding-top: 74px;
      padding-bottom: 84px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 0px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 324px 324px;
      grid-auto-rows: auto;
      row-gap: 60px;
      column-gap: 60px;
      align-self: end;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 245px 245px 245px 245px;
      row-gap: 64px;
      column-gap: 80px;
    }
  }
}

// дополнительная карточка
