$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.main__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.catalog {
  &__title {
    padding-top: 27px;
    padding-bottom: 41px;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;

    @media (min-width: $tablet-width) {
      padding-top: 64px;
      padding-bottom: 82px;
      border: none;
    }
    @media (min-width: $desktop-width) {
      padding-top: 74px;
      padding-bottom: 84px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 11px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 324px 324px;
      row-gap: 60px;
      column-gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 245px 245px 245px 245px;
      row-gap: 64px;
      column-gap: 80px;
    }
  }
}

.more {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-rows: auto 40px;
  gap: 21px;
  position: relative;
  margin-top: 25px;
  padding: 25px 0;

  &__description {
  }

  & .card__title {
    margin-top: 20px;
    margin-bottom: 8px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #d9d9d9;
      left: calc(50% - 15px);
      top: 10px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #d9d9d9;
      left: calc(50% - 15px);
      top: 10px;
      transform: rotate(90deg);
    }
  }

  & .more__subtitle {
    margin: 0;
  }

  & .headline--grey {
    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($color: #d4d4d4, $alpha: 0.3);
    }
  }
}

.additional {
  &__title {
    padding-top: 25px;
    margin-bottom: 36px;
    border-top: solid 1px #d9d9d9;
  }

  &__cards {
    display: grid;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 40px;
    gap: 13px;
    padding: 13px 0;
    margin: 0;

    & .card__title {
      grid-row: 1/2;
      padding-top: 13px;
      margin: 0;
      border-top: 1px solid #cdcdcd;
    }

    & .card__characters {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    &__button {
      grid-row: 3/4;
      border: none;
    }
  }
}

.adv {
  margin-top: 35px;
  height: 290px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url(/img/icon/icon_gift.svg);
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 59px;
    left: calc(50% - 39px);
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url(/img/catalog__adv.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 290px;
    top: 0;
    left: 0;
  }

  & .text {
    font-family: "Arial";
    text-align: center;
    color: #ffffff;
    padding: 186px 59px 43px;
  }
}
