$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.main__form {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
}

.form__title {
  margin-top: 27px;
  margin-bottom: 37px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 56px;
  }
}

.form__wrap {
  margin: 0 auto;
  padding: 0px 20px;
  overflow: hidden;
  max-width: $mobile-width;
  background-color: #fff;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0px 65px 0 69px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 110px;
    width: auto;
  }
}

.form__headline {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    line-height: 125%;
    margin-bottom: 66px;
  }
}

.form__subject {
  font-size: 24px;
  line-height: 106%;
  color: #000;
  margin-top: 25px;
  margin-bottom: 35px;
  position: relative;

  // ХЗ что делать

  &:before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    height: 2px;
    width: 100%;
    top: 18px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-top: 64px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 68px;
    margin-bottom: 76px;
  }

  span {
    background-color: #fff;
    padding-right: 14px;
  }
}

.form__fields {
  position: relative;
}

.form__stroke {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
}

.form__label {
  width: auto;
  padding-right: 13px;
  text-align: left;
}

.form__input {
  width: 100%;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 112%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 135%;
  }
}

.form__registration--goals {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;

  @media (min-width: $tablet-width) {
    row-gap: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__registration {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    grid-auto-rows: 56px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
  }
}

/*-----Причины обращения------------*/
.form__goals {
  display: grid;
  grid-auto-rows: 30px;
  row-gap: 13px;
  padding: 22px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 28px;
    border: 1px solid #e7e7e7;
    grid-auto-rows: 40px;
  }
}

.goals__label {
  display: flex;
  position: relative;
}

.goals__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.goals__input--radio {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  top: 0;
  left: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.goals__input:checked + .goals__input--radio::before {
  content: "";
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;

  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.goals__headline {
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
  color: #222222;

  align-self: center;
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 135%;
    margin-left: 60px;
  }
}

/*----Контакты владельца---------*/

.form__owner {
}

.owner__strokes {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 78px;
  }

  .form__stroke {
    position: relative;
  }

  svg {
    position: absolute;
    content: "";
    right: 15px;
    top: auto;
  }
}

/*---------раздел комментариев -----------*/
.form__comments {
}

.comments__text {
  box-sizing: border-box;
  // width: 280px;
  width: 100%;
  height: 150px;
  resize: none;

  @media (min-width: $tablet-width) {
    // width: 631px;
    height: 174px;
  }
  @media (min-width: $desktop-width) {
    // width: 1220px;
    height: 174px;
  }
}

/*--------Раздел Дополнительно -----------*/
.form__additional {
}

.additional__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 30px;
  row-gap: 13px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    row-gap: 32px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-bottom: 61px;
  }
}

.additional__label {
  // создание чек-бокса
  > .additional__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  > .additional__headline {
    display: inline-flex;
    text-align: left;
    align-items: center;
    user-select: none;
  }
  > .additional__headline::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    background-color: #fff;

    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 46px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 60px;
    }
  }
}

.additional__input:checked + span::before {
  background-image: url(/img/icon/tick.svg);
}

/*------------Отправить форму-------------*/

.fields__text {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__push {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    margin-bottom: 72px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}
