$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea {
  padding: 13px 15px 14px;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

textarea {
  padding: 9px 15px 9px;
}

legend {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;

  &__title {
    margin-top: 27px;
    margin-bottom: 37px;
    line-height: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 73px;
      margin-bottom: 56px;
    }
  }

  &__headline {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      line-height: 125%;
      margin-bottom: 66px;
    }
  }
}

.form__fields {
  & .form__total {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 27px;

    @media (min-width: $tablet-width) {
      row-gap: 72px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }

  & .form__registr {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 14px;
  }

  & .form__stroke {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  & .form__label {
    width: auto;
    padding-right: 13px;
    text-align: left;
  }

  & .form__input {
    width: 100%;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    line-height: 112%;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 135%;
    }
  }
}

/*-----Причины обращения------------*/
.goals {
  display: grid;
  grid-auto-rows: 30px;
  row-gap: 13px;
  padding: 22px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 28px;
    border: 1px solid #e7e7e7;
  }

  .goals__input--radio {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      background-color: #fff;
      top: 0;
      left: 0;
    }
  }

  input[type="radio"]:checked .goals__input--radio::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid #cdcdcd;
    background-color: $basic-green;
    top: 0;
    left: 0;
  }

  .goals__headline {
    padding-left: 45px;
  }
}

/*----Контакты владельца---------*/

.fields__owner {
  margin-top: 26px;
  margin-bottom: 24px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-color: $basic-green;
    height: 2px;
    width: 100px;
    top: 18px;
    left: -20px;
  }
  &:before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    height: 2px;
    width: 100px;
    top: 18px;
    right: 0;
  }

  .owner__strokes {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 14px;
    margin-top: 35px;

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 78px;
    }
  }
}

/*---------раздел комментариев -----------*/
.fields__comments {
  .comments__wrap {
    display: grid;
  }

  .comments__text {
    height: 150px;
  }
}

.fields__additional {
  margin-bottom: 34px;

  & legend {
    margin-bottom: 34px;
  }

  & .additional__label {
    display: block;
    margin-bottom: 13px;
  }
}

.fields__text {
  text-align: center;
}
