$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link img {
  @media (min-width: $tablet-width) {
    min-width: 61px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 70px;
    min-height: 59px;
  }
}

.logo__img,
.logo__sign {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__sign {
  margin-left: 57px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-right: 94px;
    min-width: 101px;
    min-height: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14.5px;
    min-width: 118px;
    min-height: 22px;
  }
}
