$basic-green: #68b738;
$grey-bg: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

.catalog__more {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "more__title"
    "more__subtitle"
    "more__button";
  text-align: center;
  list-style: none;
  margin-top: 25px;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 45px 36px 36px 36px;
    align-self: end;
    border: 2px solid $grey-bg;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 36px 40px 36px;
  }

  @media (max-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -25px;
      left: 0;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

.more__title {
  text-align: center;
  padding: 53px 0 0;
  grid-area: more__title;
  align-self: end;
  position: relative;
  text-align: center;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d9d9d9;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d9d9d9;
    left: 50%;
    top: 14px;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    padding: 109px 54px 0px;
    margin-bottom: 0;

    &::before {
      height: 60px;
    }
    &::after {
      width: 60px;
      top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 109px 17px 0;
    margin-bottom: 0px;
  }
}

.more__subtitle {
  grid-area: more__subtitle;
  margin-bottom: 21px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding: 0 40px 0px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 133%;
  }
  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 133%;

    // padding-bottom: 87px;
  }
}

.more__button {
  grid-area: more__button;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 125%;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($color: #d4d4d4, $alpha: 0.3);
  }
}
