// Начните писать стили здесь
@import "scss__blocks/font.scss";
@import "scss__blocks/normalize.scss";
@import "scss__blocks/visually-hidden.scss";
@import "scss__blocks/header.scss";
@import "scss__blocks/promo.scss";
@import "scss__blocks/direction.scss";

body {
   background: white;
   font-family: "Oswald", "Arial", sans-serif;
   font-weight: 400;
   font-size: 14px;
   margin: 0 auto;
   width: 320px;
}

.title {
   font-weight: 400;
   font-size: 36px;
   line-height: 36px;
   font-style: italic;
}

.headline {
   line-height: 14px;
   text-transform: uppercase;
   font-style: italic;
   &--white {
      color: #fff;
   }
}

.subject {
   font-size: 24px;
   line-height: 37px;
   text-transform: uppercase;
   color: #000000;
   font-style: italic;
}

.text {
   line-height: 18px;
   color: #444444;
}

.button {
   text-decoration: none;
   width: 100%;
   padding: 7px 44px;
   background-color: #68b738;
   display: block;
   box-sizing: border-box;
   text-align: center;
}
